<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Qr Gen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bus-page ion-padding">
  <ion-item>
    <ion-label position="floating">ID Etudiant</ion-label>
    <ion-input [(ngModel)]="studentId"></ion-input>
  </ion-item>

  <div class="action-button ion-padding">
  <ion-button class="login-button" (click)="grantPass()">Gen</ion-button>
  </div>
  <div *ngIf="qrCode">
    <img [src]="qrCode" alt="Bus Pass QR Code">
    <a [href]="qrCode" download="BusPass-QRCode.png">Télécharger QR Code</a>
  </div>
</div>
</ion-content>
